<template>
  <div class="container">
    <div class="row">
      <TableComponent></TableComponent>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import TableComponent from "../components/TableComponent.vue";

@Options({
  components: {
    TableComponent,
  },
})
export default class HomeView extends Vue {}
</script>
