<template>
  <div>
    <button class="btn btn-primary" @click="showTable()">Back</button>
    <ul>
      <li v-for="selectedId in selectedIds" :key="selectedId">
        <CardComponent :postId="selectedId"></CardComponent>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import SampleData from "../services/sample_data_service";
import CardComponent from "./CardComponent.vue";

@Options({
  props: {
    selectedIds: [],
  },
  data() {
    return {
      selectedIds: [],
    };
  },
  created() {
    this.selectedIds = this.$route.params.selectedIds;
    if (this.$route.query.debug) {
      this.debug = this.$route.query.debug;
    }
  },
  mounted() {
    if (localStorage.getItem("selectedIds")) {
      this.selectedIds = JSON.parse(
        localStorage.getItem("selectedIds") || "{}"
      );
    }
  },
  methods: {
    showTable() {
      this.$router.push({
        name: "home",
      });
    },
  },
  name: "CardList",
  components: {
    CardComponent,
  },
})
export default class AboutView extends Vue {
  postIds!: [];
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
