<template>
  <div class="container">
    <button class="btn" @click="showDetails(postId)">Show</button>
    <button class="btn" @click="deleteRow(postId)">Delete</button>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import SampleData from "../services/sample_data_service";

@Options({
  props: {
    postId: String,
  },
  methods: {
    showDetails(id: any) {
      this.$router.push({
        name: "about",
        params: {
          selectedIds: [id],
        },
      });
    },

    deleteRow(postId: any) {
      SampleData.deletePost(postId);
    },
  },
})
export default class ButtonCellComponent extends Vue {
  postId!: String;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.button-panel {
  display: inline-block;
}
</style>
