<template>
  <div v-if="post" class="card">
    <img src="../assets/img_sample.png" class="imageControl" alt="Card image" />
    <div class="card-body">
      <h4 class="card-title">{{ post.title }}</h4>
      <p class="card-text">{{ post.body }}</p>
      <a href="#" class="btn btn-primary">Go to Card Details</a>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import SampleData from "../services/sample_data_service";

@Options({
  props: {
    postId: String,
  },
  data() {
    return {
      post: null,
    };
  },

  created() {
    console.log(this.postId);
    SampleData.getPost(this.postId)
      .then((response) => {
        this.post = response.data;
        console.log(this.post);
      })
      .catch((error) => {
        console.log(error);
      });
  },
})
export default class CardComponent extends Vue {
  postId!: Number;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.imageControl {
  height: 150px;
  border-radius: 15px 15px 0 0;
}
.card {
  width: 300px;
  background-color: beige;
  border-radius: 15px;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
