<template>
  <div>
    <div class="text-uppercase text-bold">
      *Currently there are {{ selected.length }} posts selected
    </div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>
            <label>
              <input
                type="checkbox"
                :checked="selectedAll"
                @click="selectAll"
              />
              Select
            </label>
          </th>
          <th>Title</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="post in posts" :key="post.id">
          <td>
            <label>
              <input type="checkbox" v-on:change="selectionChanged(post.id)" />
              <i></i>
            </label>
          </td>
          <td>{{ post.title }}</td>
          <td>
            <ButtonCellComponent :postId="post.id"></ButtonCellComponent>
          </td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-primary" @click="showDetails()">
      Show Selected Posts
    </button>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import SampleData from "../services/sample_data_service";
import ButtonCellComponent from "./ButtonCellComponent.vue";

@Options({
  props: {
    posts: [],
  },
  name: "CardList",
  components: {
    ButtonCellComponent,
  },
  data() {
    return {
      posts: null,
      selected: [],
      selectAll: false,
    };
  },
  created() {
    SampleData.getPosts()
      .then((response) => {
        this.posts = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
  computed: {
    selectAll: function () {
      return this.posts.every(function (post) {
        return post.id;
      });
    },
  },
  methods: {
    showDetails() {
      this.$router.push({
        name: "about",
        params: {
          selectedIds: this.selected,
        },
      });
    },
    selectionChanged(postId: any) {
      if (!this.selectAll && postId !== null) {
        this.selected.push(postId);
      }
    },
  },
})
export default class Tablecomponent extends Vue {
  posts!: [];
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
